[submodule "libs/submodule-repo"]
	path = libs/submodule-repo
	url = https://github.com/dmurray-lacework/tally-git.git
[submodule "sb"]
	path = sb
	url = https://github.com/dmurray-lacework/tally-git-ui.git
